.Rproj.user
.Rhistory
.RData
.Ruserdata
/FRAGSTATS-EDIS-Data
.nb.html
NLMR_Overview_and_Tips.nb.html
/data
.png
test_image.png
data_sync.lnk
test_images
0.992156862745098
metr_path_simpson_test.png
*.html